:root {
  --color-background: #f6f1ec;
  --color-beige: #EBD5B8;
  --pink: #EFBC9C;
  --red: #EA572A;
  --color-primary: #0B3F30;
  --color-secondary: #E39828;

  --padding: 12px;
  --s-padding: 1rem;
  --l-padding: 3rem;
  --xl-padding: 4rem;
  --width: calc(100vw - (2 * 8vw));
}
