---
import TopLayout from "../layouts/TopLayout.astro";
import OutgoingPRs from "../components/OutgoingPRs.astro";
---

<script>
  import { getUser } from "../logic/Auth";
  const user = getUser();
  if (!user) {
    window.location.assign('/');
    return;
  }
  console.log('Yay!!');
</script>

<TopLayout title="Sidecars Dashboard">
  <h1>Welcome {user.displayName}</h1>
  <p>We are happy to see you here</p>
  <OutgoingPRs />
</TopLayout>
