---
import Button from './Button.astro';
---
{
  <Button data-signin-btn {...Astro.props}>Sign In</Button>
}


<script>
  import { signInUser, signOutUser, getUser } from "../logic/Auth";

  const signinBtns = document.querySelectorAll('[data-signin-btn]');

  const user = getUser();
  for (const b of signinBtns) {
    if (user) {
      signinBtns.textContent = 'Sign In';
    } else {
      signinBtns.textContent = 'Sign Out';
    }
    b.addEventListener('click', async (e) => {
      const user = getUser();
      if (user) {
        signOutUser();
      } else {
        let url = undefined;
        const button = e.target as HTMLButtonElement;
        const urlAttrib = button.attributes.getNamedItem('url');
        if (urlAttrib) {
          url = urlAttrib.value;
        }
        signInUser(url);
      }
    });
  }
</script>
