---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Base from './Base.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
---
<Base title={title}>
	<NavBar />
	<main>
		<slot />
	</main>
	<Footer />
</Base>

<style is:global>
	body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	main {
		width: 100%;
		max-width: var(--width);
    margin: calc(var(--padding)*2) auto;
	}
</style>
