---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../styles/variables.css';
import Base from './Base.astro';
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
---
<Base title={title} bodyClass="c-legal">
  <NavBar />
	<main class="c-legal__main">
		<slot />
  </main>
  <Footer />
</Base>

<style is:global>

  .c-legal {
    display: flex;
    flex-direction: column;
  }

  .c-legal__main {
    max-width: var(--width);
    margin: 0 auto;
    flex: 1;
  }

  .c-legal__main a {

  }
</style>
